<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{{url_for('static',filename='styleheart.css')}}">
    <!------ Include the above in your HEAD tag ---------->

    <title>Heart Attack Prediction</title>
</head>

<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">HEART MEDICAL RECORDS</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="{{url_for('heart')}}" method="POST">
                            <h3 class="text-center text-info">ENTER</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">AGE:</label><br>
                                <input type="text" name="age" id="age" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info">SEX:</label><br>
                                <input type="text" name="sex" id="sex" placeholder="enter 0/1 for M/F"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info">CIGARATES PER DAY:</label><br>
                                <input type="text" name="cigspDay" id="cigspDay" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="username" class="text-info">BP MEDS:</label><br>
                                <input type="text" name="bpmeds" id="bpmeds" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="username" class="text-info">TOT CHOL:</label><br>
                                <input type="text" name="totChol" id="totChol" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="username" class="text-info">SYSBP:</label><br>
                                <input type="text" name="sysbp" id="sysbp" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="username" class="text-info">GLUCOSE:</label><br>
                                <input type="text" name="gls" id="gls" class="form-control">
                            </div>

                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md mb-5" value="submit">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m4 offers">
        <h5 style="color: #ffffff;">Prediction</h5>
        <div class="collection" role="alert">
            <p class="collection-item active black">Predicted result: {{ pred }}
                {% if pred == [0] %}
            <p class="collection-item active light green">Congratulation!!<br>You have no problem in your kidney.

                {% elif pred == [1] %}
            <p class="collection-item red">You have a chance of kidney disease!!<br>Please consult with your doctor.
                {% else %}
                {% endif%}
            </p>
        </div>
    </div>
    </div>
    </div>
    </div>
    <!-- javascript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>

</html>